@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.post{
    width: 400px;
    height: 400px;
    position: absolute;
    background-color: white;
    border: rgb(230, 230, 230) solid 2px;
    left: 50%;
    top: 0%;
    transform: translateX(-50%) translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transition: all 0.5s;
}

.post-down{
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}