@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.edit{
    width: 400px;
    height: 400px;
    position: absolute;
    background-color: white;
    border: rgb(230, 230, 230) solid 2px;
    left: 50%;
    top: 0%;
    transform: translateX(-50%) translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transition: all 0.5s;
}

.edit-down{
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.edit>input{
    width: 60%;
    height: 7%;
    padding: 10px;
    color: white;
    background-color: rgb(197, 197, 197);
    outline: none;
    border: none;
}

.edit>button{
        width: 40%;

    height: 30px;
    outline: none;
    border: none;
    color: white;
    background: #ff0000;
background: linear-gradient(271deg,rgba(255, 0, 0, 1) 0%, rgba(245, 22, 145, 1) 100%);
}